apiVersion: batch/v1
kind: Job
metadata:
  name: db-migration
  namespace: qbshop
spec:
  template:
    spec:
      containers:
      - name: qbs-migration
        image: dark944/qbshop-migration:36
        imagePullPolicy: Always
        env:
        - name: MONGODB_URI
          value: "mongodb://mongodb-service:27017/easyshop"
      restartPolicy: OnFailure
